#div-main-footer {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    height: 50px;
    background-color: #352f2f;
    position: absolute;
    bottom: 0;
    width: 100%;
}