<pts-header [headerIpt]="headerIpt"></pts-header>
<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <ion-icon *ngIf='fav === true' name="star" class="fav-icon" (click)="fnFav(false)"></ion-icon>
        <ion-icon *ngIf='fav === false' name="star-outline" class="fav-icon" (click)="fnFav(true)"></ion-icon>
        <div *ngIf="imgType.length; else nodata">
            <div *ngFor="let key of imgType" class="div-image">
                <div class="div-image-type">{{key}}</div>
                <div class="div-outer" *ngFor="let val of typeJsn[key]">
                    <div class="div-image-item">
                        <img src="{{ g.Network===true ? 'http://192.169.169.6:3000/filesystem/' + val.url : g.file.dataDirectory + 'ProficientTS Test Folder/' + val.url }}" alt="" (click)="viewImg(val.url)">
                    </div>
                    <div class="li-document-share">
                        <div (click)="shareImg(val)"><span *ngIf="val.share != true; else shared">Share</span></div>
                        <div>----</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ng-template #shared>
    <span>Shared</span>
</ng-template>

<ng-template #nodata>
    <div>No data Found</div>
</ng-template>