// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
    font-size: 16px;
    margin-top: 110px;
    border-left: 3px solid #dddddd;
    .scroll-content {
        overflow-x: unset;
        overflow-y: unset;
    }
}

ion-header {
    background-color: #136ea6;
}

input[type="text"] {
    border: 1px solid #ccc;
}

.split-pane-visible>.split-pane-side[side=left] {
    min-width: 130px;
    max-width: 130px;
}

.ptsPad0 {
    padding: 0!important;
}

ion-menu {
    border: 0!important;
    .ptsSelMenu {
        background-color: #dddddd !important;
        color: #444444!important;
    }
    ion-header {
        height: 85px;
        color: white;
        text-align: center;
        background-color: #3784b3;
    }
    ion-content {
        border-left: none;
        margin-top: 0;
        background-color: #444444!important;
        ion-list button {
            color: #dddddd !important;
            font-size: 1em!important;
            text-align: center!important;
            padding: 0!important;
            background-color: #444444!important;
            border: 0!important;
            height: 90px!important;
            div {
                width: 100%!important;
                padding: 0!important;
            }
            ion-icon {
                font-size: 1.5em!important;
            }
        }
    }
    #div-menu-cmp-logo {
        margin-top: 10px;
        font-size: 1.5em;
    }
    #div-menu-cmp-title {
        margin-top: 5px;
    }
    .item-inner {
        background-image: none!important;
        border: 0!important;
    }
}

b {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    font-size: 16px;
    padding: 0.5em;
    background-color: #fff;
}

.pts-button {
    background-color: #ccc;
    border-radius: 3px;
    font-size: 16px;
    padding: 0.75em 0.25em;
    text-align: center;
    display: inline-block;
    width: 120px;
}

.pts-navbar ion-navbar {
    border: 0;
}

.pts-navbar,
.pts-navbar a,
.pts-navbar button {
    color: #fff;
    font-size: 16px;
}

.pts-navbar ion-icon {
    font-size: 1.75em;
    padding: 0.35em 0.25em 0.25em 0.25em;
}

.productpage :-ms-input-placeholder,
.productpage :-moz-placeholder,
.productpage ::-moz-placeholder,
.productpage ::-webkit-input-placeholder {
    font-weight: normal;
}

.ptsW20pr {
    width: 20%;
}

.ptsW19pr {
    width: 19%;
}

.ptsW18pr {
    width: 18%;
}

.ptsW60pr {
    width: 60%;
}

.ptsW10pr {
    width: 10%;
}

.ptsW23pr {
    width: 23%;
}

.ptsW28pr {
    width: 28%;
}

.ptsW35pr {
    width: 35%;
}

.ptsW8pr {
    width: 8%;
}

.ptsW45pr {
    width: 45%;
}

.ptsW70pr {
    width: 70%;
}

.ptsW80pr {
    width: 80%;
}

.ptsTextCenter {
    text-align: center;
}

.ptsPadTB5p {
    padding: 5px 0;
}

.ptsPad10p {
    padding: 10px;
}

.ptsDipsIB {
    display: inline-block;
}

.fav-icon {
    float: right;
    display: inline;
    font-size: 2em;
    padding: 5px;
    color: #7b0512;
    margin-top: 12px;
    font-size: 1.5em;
}

.ptsFloatR {
    float: right;
}

.ptsDMiddle {
    width: 100%;
    margin: auto;
    text-align: center;
}

.ptsMarginT20p {
    margin-top: 20px;
}

.ptsVerticalTop {
    vertical-align: top;
}

.ptsSpanItem {
    background-color: grey;
    padding: 5px;
    color: white;
    margin-left: 10px;
}

.ptsMarginR15p {
    margin-right: 15px;
}

.force-back-button .back-button {
    display: inline-block;
}

.ionnavbar .back-button-text {
    display: none;
}

.force-menu-button {
    display: none;
}

.force-menu-button-show {
    display: inline-block!important;
}

.ptsBorderR3p {
    border-radius: 3px;
}

.div-fav {
    display: inline-block;
    color: #7b0512;
    font-size: 1.5em;
    padding: 15px;
}

.fa-heart,
.fa-heart-o {
    color: #7b0512;
    font-size: 1.5em;
}

.fa-share-alt,
.fa-share-alt-square {
    color: #1c713e;
}

.fa {
    font-size: 1.5em!important;
}

.small-span {
    background-color: #444444;
    color: #cccccc;
    padding: 5px;
    font-size: 0.8em;
    border-radius: 3px;
    margin-right: 5px;
}