#div-resetpwd {
    margin-top: 200px;
}

.div-reset-lable {
    display: inline-block;
    width: 200px;
}

#div-resetpwd li {
    text-align: center;
}

#div-resetpwd li:last-of-type {
    margin-top: 25px;
}