<pts-header [headerIpt]="headerIpt"></pts-header>
<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <div class="div-document">
            <div class="div-document-type">
                <ion-input type="text" placeholder="Search" class="" [(ngModel)]="txt" autofocus (input)="searchItem()"></ion-input>
            </div>
            <ul class="ul-set-header field-header">
                <li *ngFor="let h of header" class="ptsPadTB5p ptsW23pr">{{h.c_fn}}</li>
            </ul>
            <ul *ngFor="let v of srh">
                <li class="ptsPadTB5p ptsDipsIB ptsW23pr" *ngFor="let k of header" (click)="setDetail(v[k.val], v.set_id)">{{v[k.val]}}</li>
            </ul>
        </div>

    </div>
</ion-content>