page-catalog {
    .catalogpage {
        ion-list {
            max-height: 500px;
            margin-top: 5px;
            overflow-y: auto;
        }
    }
    .selectedMainTab {
        color: #eeeeee!important;
        background-color: #444444!important;
    }
    #div-cat-inner-srh {
        text-align: center;
        input {
            width: 80%;
        }
    }
}

#div-cat-srh-tab-container {
    margin-top: 20px;
}

#div-cat-srh-tab-container ul {
    border-bottom: 1px solid #136ea6;
    padding-left: 3%;
}

#div-cat-srh-tab-container ul li {
    width: 15%;
    display: inline-block;
    // background-color: #073869;
    background-color: #eeeeee;
    border-radius: 5px 5px 0px 0px;
    margin-left: 6px;
    color: #073869;
    border: 1px solid #e1e1e1;
    padding: 12px;
}

#div-cat-srh-tab-container ul li span {
    float: right;
}

.ptsCatSelectedTab {
    color: #e1e1e1!important;
    background-color: #136ea6!important;
}