<pts-header [headerIpt]="headerIpt"></pts-header>

<ion-content padding class="catalogpage">
    <div *ngIf="!sync">
        <div>
            <input #input type="text" class="search-text" [(ngModel)]="txt" (input)="searchItem(select.value)" />
            <select class="pts-button" (change)="onChange($event.target.value)" #select>
                <option value = "key" [selected] = "seltype == 'key'">Keywords</option>
                <option value = "part" [selected] = "seltype == 'part'">Part</option>
                <option value = "set" [selected] = "seltype == 'set'">Set</option>
                <option value = "system" [selected] = "seltype == 'system'">System</option>
                <option value = "technique" [selected] = "seltype == 'technique'">Technique</option>
            </select>

            <div id="btn-system" class="pts-button catalog-search-button" [ngClass]="{selectedMainTab: mainTabs.system === true}" (click)="showProduct()">
                Product
            </div>
            <div id="btn-techinque" class="pts-button catalog-search-button" [ngClass]="{selectedMainTab: mainTabs.technique === true}" (click)="showTechniques()">
                Approach
            </div>
            <div id="btn-fav" class="pts-button catalog-search-button" [ngClass]="{selectedMainTab: mainTabs.fav === true}" (click)="showFavs()">
                Favorites
            </div>
            <div id="btn-recent" class="pts-button catalog-search-button" [ngClass]="{selectedMainTab: mainTabs.rec === true}" (click)="showRecents()">
                Recent
            </div>
        </div>
        <div id="div-cat-srh-tab-container" *ngIf="tab">
            <ul>
                <li *ngIf="type == 'system' || type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('system', 'systemtab')" [ngClass]='{ptsCatSelectedTab : tabs.systemtab}'>Product <span>{{systemlen}}</span></li>
                <li *ngIf="type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('doc', 'doctab')" [ngClass]='{ptsCatSelectedTab : tabs.doctab}'>Document <span>{{doclen}}</span></li>
                <li *ngIf="type == 'set' || type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('set', 'settab')" [ngClass]='{ptsCatSelectedTab : tabs.settab}'>Set <span>{{setlen}}</span></li>
                <li *ngIf="type == 'part' || type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('part', 'parttab')" [ngClass]='{ptsCatSelectedTab : tabs.parttab}'>Part <span>{{partlen}}</span></li>
                <li *ngIf="type == 'technique'" (click)="selectTab('technique', 'techtab')" [ngClass]='{ptsCatSelectedTab : tabs.techtab}'>Technique <span>{{techlen}}</span></li>
                <li *ngIf="type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('img', 'imgtab')" [ngClass]='{ptsCatSelectedTab : tabs.imgtab}'>Picture <span>{{imglen}}</span></li>
                <li *ngIf="type == 'key' || type == 'fav' || type == 'rec'" (click)="selectTab('video', 'vidtab')" [ngClass]='{ptsCatSelectedTab : tabs.vidtab}'>Video <span>{{vidlen}}</span></li>
            </ul>
        </div>
        <ion-list *ngIf="listItem.length == 0">
            <ion-card>
                <ion-card-header>No Data Found</ion-card-header>
            </ion-card>
        </ion-list>
        <ion-list *ngIf="!nomedia; else list">
            <ion-card *ngFor="let item of listItem; let i = index">
                <ion-card-header (click)="itemTapped(item)" class="ptsW70pr ptsDipsIB">{{item.title}}</ion-card-header>
                <ion-card-content class="ptsW28pr ptsDipsIB">
                    <div (click)="setFavorite(item, i)" class="div-fav">
                        <ion-icon *ngIf="item.fav == true; else nofav" class="fa fa-heart"></ion-icon>
                    </div>
                    <div (click)="viewMedia(item, i)" class="ptsDipsIB">View</div>
                    <div (click)="shareMedia(item, i)" class="ptsDipsIB"><span *ngIf="item.share != true; else shared">Share</span></div>
                </ion-card-content>
            </ion-card>
        </ion-list>
    </div>
</ion-content>

<ng-template #list>
    <ion-list>
        <div *ngIf="tabs.parttab || tabs.settab || tabs.systemtab" id="div-cat-inner-srh"><input placeholder="Search Filter..." type="text" [(ngModel)]="srhtxt" (input)="searchFilter()" /></div>
        <ion-card *ngFor="let item of listItem; let i = index">
            <div class="ptsW60pr ptsDipsIB ptsVerticalTop" (click)="itemTapped(item)">
                <ion-card-header *ngIf="item.ID && !tabs.systemtab">{{item.ID}}</ion-card-header>
                <ion-card-content>
                    {{item?.Name}}
                </ion-card-content>
            </div>
            <div *ngIf="tabs.systemtab"><span (click)="sysTech(tech.technique_id)" class="small-span" *ngFor="let tech of item.technique">{{ tech.technique_nm }}</span></div>
            <!-- <div class="ptsW19pr ptsDipsIB ptsVerticalTop" (click)="itemTapped(item)">
                <img src="{{ g.Network===true ? g.server + item.url : g.file.dataDirectory + 'ProficientTS Test Folder/' + item.url }}" *ngIf="item.url">
            </div> -->
            <div *ngIf="type != 'technique'" (click)="setFavorite(item, i)" class="div-fav">
                <ion-icon *ngIf="item.fav == true; else nofav" class="fa fa-heart"></ion-icon>
            </div>
        </ion-card>
    </ion-list>
</ng-template>

<ng-template #shared>
    <span>Shared</span>
</ng-template>

<ng-template #nofav>
    <ion-icon class="fa fa-heart-o"></ion-icon>
</ng-template>