.product-title {
    font-size: 18px;
    font-weight: bold;
    padding: 1em 0;
}

.product-image {
    height: 200px;
}

#ul-product-image li {
    display: inline-block;
    text-align: center;
    margin: 1.5em 0;
    padding: 0.125em;
    width: 225px;
}

page-producttab {
    .tabbar {
        width: 90%;
        margin-left: 5%;
        color: #444444;
        font-size: 1em;
        border-top: none!important;
        .tab-button[aria-selected=true] {
            background-color: #136ea6!important;
            .tab-button-text {
                color: white;
            }
        }
        .tab-button:first-child {
            border-radius: 5px 0 0 0;
        }
        .tab-button:last-child {
            // not working
            border-radius: 0 5px 0 0;
        }
    }
}