<pts-header [headerIpt]="headerIpt"></pts-header>

<ion-content padding>
    <div id="div-main-settings">
        <div>
            <div id="btn-freshsync" class="pts-button-circle" (click)="freshsync()">
                Initial Setup
            </div>
            <div id="btn-getupdates" class="pts-button-circle" (click)="getupdates()">
                Get Updates
            </div>
            <div id="btn-resetdata" class="pts-button-circle" (click)="resetdata()">
                Factory Reset
            </div>
        </div>
        <div id="div-lang">
            Set Language <select (change)="selectLang($event.target.value)">
                <option *ngFor="let l of lang" value="{{ l.val }}" [selected]="g.Lang === l.val">
                    {{ l.desc }}
                </option>
            </select>
        </div>
    </div>
    <div id="div-user-settings">
        <div id="div-user-tools">
            <ion-icon class="fa fa-repeat"></ion-icon>
            <ion-icon class="fa fa-floppy-o"></ion-icon>
            <ion-icon class="fa fa-pencil"></ion-icon>
        </div>
        <div id="div-user-settings-img">
            <img src="assets/image/{{ g.userInfo.url? g.userInfo.url : 'user.png' }}">
            <div id="div-user-nm">{{ g.userInfo?.username }}</div>
            <div>{{ g.userInfo?.designation }}</div>
        </div>
        <div id="div-user-info">
            <div *ngIf="g.userInfo.phone">
                <ion-icon class="fa fa-phone"></ion-icon>&nbsp;{{ g.userInfo?.phone }}</div>
            <div *ngIf="g.userInfo.email">
                <ion-icon class="fa fa-at"></ion-icon>&nbsp;{{ g.userInfo?.email }}</div>
            <div *ngIf="g.userInfo.address">
                <ion-icon class="fa fa-envelope-o"></ion-icon>&nbsp;
                <div class="ptsDipsIB ptsPad0">{{ g.userInfo?.address["street 1"] }} <br> {{ g.userInfo?.address.city }}<br> {{ g.userInfo?.address["state-alt"] }} {{ g.userInfo?.address.zip }}<br> {{ g.userInfo?.address.country }}</div>
            </div>
        </div>
        <div id="div-logout" (click)="logOut()">Logout</div>
    </div>
</ion-content>