<pts-header [headerIpt]="headerIpt"></pts-header>
<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <ion-icon *ngIf='fav === true' name="star" class="fav-icon" (click)="fnFav(false)"></ion-icon>
        <ion-icon *ngIf='fav === false' name="star-outline" class="fav-icon" (click)="fnFav(true)"></ion-icon>
        <div *ngIf="videoType.length; else nodata">
            <div *ngFor="let key of videoType" class="div-document">
                <div class="div-document-type">{{key}}</div>
                <ul class="ul-document" *ngFor="let val of typeJsn[key]">
                    <li class="li-document-title">{{val.title}}</li>
                    <li class="li-document-view">
                        <div (click)="viewVideo(val.url)">View</div>
                        <div>----</div>
                    </li>
                    <li class="li-document-share">
                        <div (click)="shareVid(val)"><span *ngIf="val.share != true; else shared">Share</span></div>
                        <div>----</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ion-content>

<ng-template #shared>
    <span>Shared</span>
</ng-template>

<ng-template #nodata>
    <div>No data Found</div>
</ng-template>