<pts-header [headerIpt]="headerIpt"></pts-header>
<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <div class="div-document">
            <div class="div-document-type">Animation</div>
            <div class="div-outer" *ngFor="let v of video; let i = index">
                <div class="dummy"></div>
                <div class="li-document-view">
                    <button ion-button (click)="viewVideo(v.url)">{{v.title}}</button>
                </div>
                <div class="li-document-share">
                    <div (click)="shareVid(v, i)"><span *ngIf="v.share != true; else shared">Share</span></div>
                    <div>----</div>
                </div>
            </div>
        </div>

    </div>
</ion-content>

<ng-template #shared>
    <span>Shared</span>
</ng-template>