<ion-header>

    <ion-navbar transparent no-border [ngClass]="{'force-back-button' : back}" class="ionnavbar">
        <button ion-button icon-only menuToggle [ngClass]="{'force-menu-button' : menu, 'force-menu-button-show': !menu}">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{headerIpt.title? headerIpt.title : "Catalog"}}</ion-title>
        <ion-buttons end [ngClass]="{'force-menu-button' : menu}">
            <button *ngIf="headerIpt.shareCnt !== undefined" ion-button icon-only (click)="openSharePage()">
                <ion-icon name="share-alt" ></ion-icon>  ({{headerIpt.shareCnt? headerIpt.shareCnt : 0}})
            </button>
        </ion-buttons>

    </ion-navbar>
    <div class="notification-bar" [ngStyle]="{backgroundColor: color, color: font}">{{msg}}</div>

    <div *ngIf="headerIpt.catalogfacility" class="catalog-facility-bar ptsDMiddle">
        <input placeholder="Search by Criteria" class="search-text" (click)="goToCatalog('search')">
        <div class="pts-button catalog-search-button" (click)="goToCatalog('product')">
            Product
        </div>
        <div class="pts-button catalog-search-button" (click)="goToCatalog('approach')">
            Approach
        </div>
        <div class="pts-button catalog-search-button" (click)="goToCatalog('favorites')">
            Favorites
        </div>
        <div class="pts-button catalog-search-button" (click)="goToCatalog('recent')">
            Recent
        </div>
    </div>
    <div id="div-video-full" *ngIf="playvideo">
        <ion-icon name="arrow-back" (click)="closeVid()"> Back</ion-icon>
        <video controls>
            <source src="{{ g.Network===true ? 'http://192.169.169.6:3000/filesystem/' + videosrc : g.file.dataDirectory + 'ProficientTS Test Folder/' + videosrc }}" type="video/mp4">
        </video>
    </div>
</ion-header>