pts-header {
    .notification-bar{
        margin-top: 10px;
        background: #dddddd;
        height: 30px;
    }
    .catalog-facility-bar{
        background: #ffffff;
        height: 0;
    }

    ion-icon, ion-title, .toolbar-title-ios, .toolbar-title-md, span{
        color: white;
    }

    ion-title {
        text-align: center;
    }

    #div-video-full{
        ion-icon{
            position: absolute;
            z-index: 21;
            top: 15px;
            left: 15px;
        }
    }

    video{
        position: fixed; bottom: 50px;
        width: 100%; height: 100%; z-index: 20;
        background: black no-repeat;
        background-size: cover;
    }
}