<div id="div-list">
    <div *ngIf="show; else hide">
        <ul>
            <li *ngFor="let i of data" (click)="fnSelectList(i.name)">
                {{i.name}}
                <div *ngIf="type != 'part'"><a href='/list/{{type}}/part/{{i.name}}'>Parts</a></div>
                <div *ngIf="type != 'set'"><a href='/list/{{type}}/set/{{i.name}}'>Sets</a></div>
                <div *ngIf="type != 'group'"><a href='/list/{{type}}/group/{{i.name}}'>Groups</a></div>
                <div *ngIf="type != 'system'"><a href='/list/{{type}}/system/{{i.name}}'>Systems</a></div>
                <div *ngIf="type != 'technique'"><a href='/list/{{type}}/technique/{{i.name}}'>Techniques</a></div>
            </li>
        </ul>
    </div>
    <ng-template #hide>
        <div>No Data Found</div>
    </ng-template>
</div>