#div-list ul li {
    background-color: azure;
    padding: 12px 30px;
    font-size: 20px;
    border-bottom: 2px solid #626060;
}

#div-list ul {
    overflow: auto;
    height: 636px;
    display: inline-block;
    width: 100%;
}

#div-list div ul li div {
    display: inline-block;
    float: right;
    background-color: #352f2f;
    color: azure;
    padding: 5px 10px;
    margin-left: 5px;
    margin-top: -5px;
    border-radius: 3px;
}

#div-list div {
    background-color: azure;
}