<ion-header>
    <ion-navbar transparent class="pts-navbar">
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <ion-icon *ngIf='fav === true' name="star" class="fav-icon" (click)="fnFav(false)"></ion-icon>
        <ion-icon *ngIf='fav === false' name="star-outline" class="fav-icon" (click)="fnFav(true)"></ion-icon>
        <div class="product-image">
            <ion-slides class="image-slider" slidesPerView="2">
                <ion-slide *ngFor="let i of img">
                    <img src="{{i.url}}" class="thumb-img" imageViewer/>
                </ion-slide>
            </ion-slides>
        </div>
        <div class="product-detail" [innerHTML]="desc">
        </div>
    </div>
</ion-content>