<pts-header [headerIpt]="headerIpt"></pts-header>
<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <ion-icon *ngIf='fav === true' class="fav-icon fa fa-heart" (click)="fnFav(false)"></ion-icon>
        <ion-icon *ngIf='fav === false' class="fav-icon fa fa-heart-o" (click)="fnFav(true)"></ion-icon>
        <div>
            <button class="ptsMarginR15p ptsFloatR ptsPad10p ptsBorderR3p" (click)="showTechnique()">
                Techniques Used ({{data.technique.length}})
            </button>
        </div>
        <div class="product-image">
            <ion-slides class="image-slider" slidesPerView="2">
                <ion-slide *ngFor="let i of img">
                    <img src="{{ g.Network===true ? g.server + i.url : g.file.dataDirectory + 'ProficientTS Test Folder/' + i.url }}" class="thumb-img" imageViewer/>
                </ion-slide>
            </ion-slides>
        </div>

        <div class="product-detail" [innerHTML]="desc">
        </div>
    </div>
</ion-content>

<ng-template #nodata>
    <span><i>Unavailable</i></span>
</ng-template>