.product-title {
    font-size: 18px;
    font-weight: bold;
    padding: 1em 0;
}

.product-image {
    height: 200px;
}

#ul-product-image li {
    display: inline-block;
    text-align: center;
    margin: 1.5em 0;
    padding: 0.125em;
    width: 225px;
}

.modulepage {
    padding: 1.5em 1em;
}

strong {
    font-weight: bold !important;
}

#div-set-tabs{
    display: inline-block;
    border-bottom: solid black 2px;
    width: 70%;
}

#div-set-tabs div{
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    background-color: #063769;
    border-radius: 3px; 
    color: white;
}

#div-set-container{

}

#div-set-parts{

}

#div-set-images{

}

#div-set-parts-preview-container{
    width: 35%;
    display: inline-block;
    padding: 20px;
    height: 400px;
    margin-right: 20px;
    vertical-align: top;
}

#div-set-parts-preview-container img{
    width: 300px;
    height: 300px;
}

#div-set-parts-list-container{
    background-color: #ccc;
    display: inline-block;
    width: 60%;
    vertical-align: top;
}