.product-title {
    font-size: 18px;
    font-weight: bold;
    padding: 1em 0;
}

.product-image {
    height: 200px;
}

#ul-product-image li {
    display: inline-block;
    text-align: center;
    margin: 1.5em 0;
    padding: 0.125em;
    width: 225px;
}

.modulepage {
    padding: 1.5em 1em;
}

strong {
    font-weight: bold !important;
}
