<pts-header [headerIpt]="headerIpt"></pts-header>

<ion-content padding class="productpage">
    <div class="modulepage">
        <div class="product-title">{{title}}</div>
        <ion-icon *ngIf='fav === true' name="star" class="fav-icon" (click)="fnFav(false)"></ion-icon>
        <ion-icon *ngIf='fav === false' name="star-outline" class="fav-icon" (click)="fnFav(true)"></ion-icon>
        <div class="product-image">
            <ion-slides class="image-slider" slidesPerView="2">
                <ion-slide *ngFor="let i of img">
                    <img src="{{ g.Network===true ? 'http://192.169.169.6:3000/filesystem/' + i.url : g.file.dataDirectory + 'ProficientTS Test Folder/' + i.url }}" class="thumb-img" imageViewer/>
                </ion-slide>
            </ion-slides>
        </div>
        <ul *ngFor="let h of header" class="ul-partdetail">
            <li class="ptsPadTB5p">{{h.c_fn}}</li>
            <li class="li-partdetail" *ngFor="let v of h.val" (click)="fnDisplay(h.d_fn, v.ID)">{{v.ID}} {{v.Name}} {{v.desc}}</li>
        </ul>
    </div>
</ion-content>