page-imgCntrl {
    button {
        float: right;
        padding: 5px;
        border-radius: 3px;
        vertical-align: top;
    }
    #div-imgCntrl-hdr {
        display: inline-block;
        #div-imgCntrl-hdr-type {
            padding: 5px;
            color: #cccccc;
        }
        #div-imgCntrl-hdr-title {
            padding: 5px;
            font-size: 1.2em;
            font-weight: bold;
        }
    }
    ion-grid {
        text-align: center;
        img {
            width: 300px;
            height: 250px;
        }
        zoom-area {
            width: 550px!important;
            height: 250px!important;
            ion-content {
                margin-top: 0;
            }
        }
    }
}